body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main-article {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-article__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-article__button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
}

.main-article__select-container {
    display: flex;
    gap: 10px;
}

.main-article__select {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
}

.weather-info {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#CityName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#TimeZone,
#description {
    font-size: 16px;
    margin-bottom: 5px;
}